<div [ngClass]="'home-page'">
  <div id="welcomeCard">
    <mat-card [ngClass]="'transparent-card'">
      <mat-card-header>
        <mat-card-title [ngClass]="'card-title'">Harrisburg University Information System</mat-card-title>
        <mat-card-subtitle>Angelix</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="primary" style="margin-bottom: 24px;" routerLink="/main">Continue</button>
        <div>This is a Angular Material POC application.</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
