<mat-accordion>
  <mat-expansion-panel (opened)="panelOpened = true" (closed)="panelOpened = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{panelOpened? "Rating Details" :getProfessorName()}}
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpened ? '' : professor.courses[0]}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{getProfessorName()}}</mat-card-title>
        <mat-card-subtitle>
          <span *ngFor="let course of professor.courses">{{course}}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-card *ngIf="professor.evaluationOnsite">
          <mat-card-subtitle>On Site</mat-card-subtitle>
          <mat-card-content>{{professor.evaluationOnsite}}</mat-card-content>
        </mat-card>
        <mat-card *ngIf="professor.evaluationOnline">
          <mat-card-subtitle>Online</mat-card-subtitle>
          <mat-card-content>{{professor.evaluationOnline}}</mat-card-content>
        </mat-card>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="primary">
          <mat-icon matTooltip="Like" [matTooltipPosition]="'above'">favorite</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon matTooltip="So-So" [matTooltipPosition]="'above'">sentiment_dissatisfied</mat-icon>
        </button>
        <button mat-button color="primary">Comments</button>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>