<div class="app-page">
  <div class="login-card-wrapper">
    <mat-card [ngClass]="{'login-card': true}">
      <mat-card-header>
        <mat-card-title>LOGIN PAGE</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Log in">

            <div class="form-container">
              {{message}}
              <form [formGroup]="loginForm" (ngSubmit)="login()">

                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email" required>
                  <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is Required</mat-error>
                  <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Not a valid email</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Please enter your Password</mat-error>
                </mat-form-field>

                <div>
                  <button mat-button color="primary" type="submit" *ngIf="!isLoggedIn()" [disabled]="loginForm.pristine || loginForm.invalid">Login</button>
                </div>

              </form>
            </div>

          </mat-tab>

          <mat-tab label="Register">
            <div class="form-container">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <mat-form-field>
                  <input matInput placeholder="User Name" formControlName="username" required>
                  <mat-error *ngIf="registerForm.controls['username'].hasError('required')">You must enter a Username</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email" required>
                  <mat-error *ngIf="registerForm.controls['email'].hasError('required')">You must enter an Email</mat-error>
                  <mat-error *ngIf="registerForm.controls['email'].hasError('email')">Not a valid email</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="registerForm.controls['password'].hasError('required')">You must enter a Password</mat-error>
                  <mat-error *ngIf="registerForm.controls['password'].hasError('minLength')">Password is too short</mat-error>
                </mat-form-field>

                <div>
                  <button mat-button color="primary" type="submit" [disabled]="registerForm.pristine || registerForm.invalid">Register</button> &nbsp;
                  <button mat-button color="warn" type="button" (click)="reset()" [disabled]="registerForm.pristine">Clear</button>
                </div>

              </form>
            </div>
          </mat-tab>

        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>