<div class="app-page">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">User Dashboard</div>
    </div>
    <div class="page-body">
      Welcome, User One!
      <div>
        <mat-button-toggle-group #optionGroup="matButtonToggleGroup">
          <mat-button-toggle value="board" (change)="buttonToggled(optionGroup.value)">
            User Board
          </mat-button-toggle>
          <mat-button-toggle value="profile" (change)="buttonToggled(optionGroup.value)">
            User Profile
          </mat-button-toggle>
        </mat-button-toggle-group>

      </div>

      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>