<h4 mat-dialog-title>New Review</h4>
<mat-dialog-content cdkFocusRegionStart>
  <div class="form-container">
    <form [formGroup]="reviewForm">

      <mat-form-field>
        <input matInput placeholder="Professor" formControlName="professor" [matAutocomplete]="profAuto" required>
        <mat-error *ngIf="reviewForm.controls['professor'].hasError('required')">You must choose a Professor</mat-error>
      </mat-form-field>

      <mat-autocomplete #profAuto="matAutocomplete">
        <mat-option *ngFor="let professor of filteredProfessors | async" [value]="getProfessorName(professor)">
          {{getProfessorName(professor)}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field>
        <input matInput placeholder="Course" formControlName="course" [matAutocomplete]="courseAuto" required>
        <mat-error *ngIf="reviewForm.controls['course'].hasError('required')">You must choose an Course</mat-error>
      </mat-form-field>

      <mat-autocomplete #courseAuto="matAutocomplete">
        <mat-option *ngFor="let course of filteredCourses | async" [value]="course.course_code">
          {{course.course_code}}
        </mat-option>
      </mat-autocomplete>

      <bar-rating formControlName="rating" [theme]="'horizontal'" [max]="10" required></bar-rating>
      <mat-error *ngIf="!reviewForm.pristine && reviewForm.controls['rating'].hasError('required')">Rating is required.</mat-error>

      <mat-form-field>
        <textarea matInput placeholder="Review(Onsite)" [rows]="5" formControlName="review_onsite">
        </textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Review(Online)" [rows]="5" formControlName="review_online">
        </textarea>
      </mat-form-field>

    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions cdkFocusRegionEnd>
  <button mat-raised-button color="primary" (click)="onSubmitClick()" [disabled]="reviewForm.pristine || reviewForm.invalid">Submit</button>
  <button mat-button color="primary" (click)="reset()" [disabled]="reviewForm.pristine">Clear</button>
  <button mat-button color="warn" cdkFocusInitial matDialogClose>Cancel</button>
</mat-dialog-actions>