<mat-toolbar color="primary" class="navbar">
  <a [ngClass]="'navbar-pic'" routerLink="/main">
    <img [src]="'assets/img/angular.png'" />
  </a>

  <button [ngClass]="'nav-button'" mat-button [matMenuTriggerFor]="pagesMenu">
    Information
  </button>
  <mat-menu #pagesMenu="matMenu">
    <button mat-menu-item routerLink="travel-page" routerLinkActive="active">Hotel & Parking</button>
    <button mat-menu-item routerLink="resource-page" routerLinkActive="active">Resources</button>
    <button disabled mat-menu-item routerLink="" routerLinkActive="active">Disabled</button>
  </mat-menu>

  <button mat-button [ngClass]="'nav-button'" routerLink="rating-page" routerLinkActive="active">Rating</button>

  <div [ngClass]="'end-buttons'">
    <button mat-button routerLink="user" *ngIf="isLoggedIn()" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>User</button>
    <button mat-button *ngIf="isLoggedIn()" (click)="logout()" routerLink="/main">
      <mat-icon>directions_run</mat-icon>Logout</button>
  </div>

  <button mat-button id="loginButton" *ngIf="!isLoggedIn()" routerLink="login">
    <mat-icon>exit_to_app</mat-icon>Login</button>
</mat-toolbar>