<div class="app-page">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">Resources</div>
    </div>
    <div class="page-body">
      <mat-card>
        <mat-card-title>免费资源</mat-card-title>
        <mat-card-content>
          <div>
            <a mat-button color="primary" href="https://www.datacamp.com/" target="blank">datacamp.com</a>用学校账号可以直接登陆，学校有付过钱，我们可以有一些免费的课程可以免费enroll。</div>
          <div>
            <a mat-button color="primary" href="https://www.lynda.com/" target="blank">lynda.com</a>用学校账号可以直接登陆，全部课程免费</div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>WIFI</mat-card-title>
        <mat-card-content>
          <div>学校Wifi名称：HU</div>
          <div>学校Wifi密码：HarrisburgU</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>