<div class="app-page">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">Hotel & Parking</div>
    </div>
    <div class="page-body">
      <mat-card>
        <mat-card-title>Hotel</mat-card-title>
        <mat-card-content>
          Preferred Hotels for Visiting Students:
          <a mat-button color="primary" href="http://harrisburgu.edu/preferred-hotels-for-visiting-students/" target="blank">Visit</a>
        </mat-card-content>
      </mat-card>
      <mat-card style="margin-top: 12px;">
        <mat-card-title>Parking</mat-card-title>
        <mat-card-content>
          Harrisburg市中心最便宜的停车场6元/天： 75 S. 10 Street Harrisburg PA 17101
          <div #gmap class="g-map"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>